################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/OutlookAddIn/.vs/OutlookAddIn/v15/.suo
/OutlookAddIn/OutlookAddIn/bin/Debug
/OutlookAddIn/OutlookAddIn/obj
*.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
